/* ===== GLOBAL ===== */
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f9f9f9;
  color: #0f0f0f;
}

/* ===== HOME ===== */
.home {
  max-width: 1400px;
  margin: auto;
}

/* ===== HEADER ===== */
.header {
  height: 56px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* HEADER RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 22px;
  margin-top: 14px;
  margin-left: 10px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #0f0f0f;
}

.username{
    margin-right: 8px;
}
.logout-btn{
    margin-left: 8px;
    border-radius: 18px;
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
}
.logout-btn:hover {
  background: #e8f0fe;
}

/* SIGN IN BUTTON */
.signin-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid gray;
  color: black;
  font-weight: 500;
  text-decoration: none;
  background-color:  #e8f0fe;
}

.signin-btn:hover {
  background: #e8f0fe;
}

.signin-icon {
  font-size: 18px;
}
/* USER AVATAR (AFTER LOGIN) */
.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #e8f0fe;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}

/* SEARCH */
.search-form {
  display: flex;
  width: 45%;
}

.search-form input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 40px 0 0 40px;
  font-size: 14px;
  outline: none;
}

.search-form button {
  padding: 0 20px;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 40px 40px 0;
  background: #f8f8f8;
  cursor: pointer;
}

/* ===== LAYOUT ===== */
.page {
  display: flex;
}

/* ===== SIDEBAR ===== */


.sidebar {
  width: 200px;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  background: #fff;
  border-right: 1px solid #e5e5e5;
  overflow-y: auto;
  padding: 12px 8px;
  margin-top: 50px;
}


.sidebar.collapsed {
  width: 72px;
}



.sidebar p {
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar p:hover {
  background: #f2f2f2;
}

.sidebar.open {
  width: 220px;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
  padding: 0;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10px;
}

.sidebar-item:hover {
  background: #f2f2f2;
}

.sidebar-title {
  font-size: 14px;
  font-weight: 800;
  margin: 12px 14px;
  color: #606060;
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 12px 0;
}
/* ================================
   CHANNEL PAGE (ONLY)
   ================================ */

.channel-page {
  width: 100%;
  background: transparent;
}

/* ================================
   CREATE CHANNEL PAGE
   ================================ */

.create-channel-page {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.create-channel-box {
  width: 440px;
  background:#d4dae3;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

.create-channel-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-channel-box input,
.create-channel-box textarea {
  width: 93%;
  padding: 10px 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.create-channel-box textarea {
  resize: none;
  height: 90px;
}

.create-channel-box button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.create-channel-box button:hover {
  background: #222;
}


/* ---------- CHANNEL HEADER ---------- */

.channel-header {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

/* Banner */

.channel-banner {
  width: 85%;
  height: 380px;
  background: #e5e5e5;
  overflow: hidden;
}

.channel-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

/* ---------- CHANNEL INFO ROW ---------- */

.channel-info-row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 24px;
}


/*upload video*/

.upload-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  max-width: 900px;
}

.upload-card h2 {
  margin-bottom: 15px;
}

.upload-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.upload-form textarea {
  grid-column: span 2;
  resize: vertical;
  min-height: 80px;
}

.upload-form input,
.upload-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.upload-form button {
  grid-column: span 2;
  padding: 10px;
  background:gray;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.upload-form button:hover {
  background: rgb(82, 81, 81);
}


/* Channel text info */

.channel-info h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 800;
}

.channel-info p {
  margin: 6px 0;
  font-size: 14px;
  color: #606060;
}

.channel-info span {
  font-size: 13px;
  color: #909090;
}

/* ---------- CHANNEL VIDEOS SECTION ---------- */

.channel-videos {
  padding: 24px;
}


.channel-videos .video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}
 

/* Create Channel button */

.create-channel-btn {
  margin-right: 10px;
  padding: 10px 14px;
  background: #f2f2f2;
  color: black;
  border-radius: 18px;
  font-size: 14px;
  text-decoration: none;
}

.create-channel-btn:hover {
  background: #d4dae3;
}

.avatar-circle {
  width: 38px;
  height: 36px;
  border-radius: 50%;
  background-color: black; 
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 2px;
  cursor: pointer;
}
/* Avatar (first letter) */

.channel-avatar {
   width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}



.user-menu-wrapper {
  position: relative;
}


.user-menu {
  position: absolute;
  right: 0;
  top: 45px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 2000;
}

.user-menu a,
.user-menu button {
  display: block;
  padding: 10px 14px;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.user-menu a:hover,
.user-menu button:hover {
  background: #f2f2f2;
}


/* ===== CONTENT ===== */
.content {
  flex: 1;
  padding: 20px;
  margin-top: 56px;     
  margin-left: 200px; 
}

.sidebar.collapsed ~ .content {
  margin-left: 100px;
}


/* ===== VIDEOS ===== */
.section-title{
 margin-left: 15px;

}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 22px;
  margin-left: 15px;
}

.video-card {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  
}

.video-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
  background-color: #ddd;
}
.video-info{
font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1.3;
  text-decoration: none;
}

.video-card h4 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1.3;
  text-decoration:none;
  color:black;
}

.video-card p {
  font-size: 14px;
  color: #606060;
  text-decoration: none;
}

.like{

  padding: 10px;
   margin-left: 8px;
    border-radius: 18px;
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
    width: 120px;
}
.like:hover{
    transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
   
}
.dislike{
  margin-left: 8px;
    border-radius: 18px;
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
    width: 120px;
}
.dislike:hover{
    transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
   
}

/* comment section */
.add-comment{
 
    border-radius: 18px;
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
}
.update-comment{
  margin-left: 8px;
    border-radius: 18px;
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
    width: 120px;
}
.edit-comment{
    border-radius: 18px;
    padding: 14px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
    width: 120px;
}
.delete-comment{
  width: 120px;
 margin-left: 12px;
    border-radius: 18px;
    padding: 14px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
}
.cancel-button{
  margin-left: 8px;
    border-radius: 18px;
    padding: 10px;
    color: black;
    background-color: #f2f2f2;
    cursor: pointer;
    border-color: white;
    font-size: 14px;
}


/* Hover effect */
.video-card:hover img {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
 
}
/* auth */

.auth-container {
  min-height: 100vh;
  background: #bbc7db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 400px;
  background-color: #e8f0fe;
  padding: 25px;
  border-radius: 12px; 
  box-shadow: 0 15px 28px rgba(0,0,0,0.15);
}

.auth-box h2 {
  margin-bottom: 28px;
  text-align: center;
}

.auth-box input {
  width: 93%;
  padding: 10px;
  margin-bottom: 28px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  
}

.auth-box input:focus {
  outline: none;
  border-color: #1b1111;
  box-shadow: #606060;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color:black;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.auth-box p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-box a {
  color: #06452caa;
  font-weight: bold;
}

/* category */
.category-bar {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  overflow-x: auto;
  position: sticky;
  top: 56px;
  z-index: 900;
  justify-content: center;

}

.category-btn {
   padding: 6px 14px;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
}
.category-btn.active {
  background: #000;
  color: #fff;
}

.category-btn:hover {
  background:black;
  color: white;
}
.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}


.video-page {
  display: flex;
  gap: 24px;
}

.video-main {
  flex: 3;
}

.video-recommended {
  flex: 1;
}

.recommended-card {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.recommended-card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 20px;
}

.recommended-card .title {
  font-size: 14px;
  font-weight: 500;
}

.recommended-card .channel {
  font-size: 12px;
  color: #606060;
}



/* ==================================================
   RESPONSIVE
================================================== */

@media (max-width: 1024px) {
  .video-page {
    flex-direction: column;
  }

  .video-recommended {
    margin-top: 20px;
  }

  .video-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0;
  }

  .search-form {
    width: 100%;
  }

  .video-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 480px) {
  .header {
    flex-wrap: wrap;
    gap: 8px;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 10px;
  }

  iframe {
    height: 220px;
  }
}
